* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header h1 { 
    color: green;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

#wrapper {
    max-width: max-content;
    margin: 0 auto;
}

nav {
    position: 0;
    background-color: rgba(147, 112, 216, 0.5);
    border-radius: 0 0 20px 20px;
}

.sticky-component {
    position: sticky;
    top: 0px;
}

.footer {
    background-color: rgba(147, 112, 216);
    padding: 20px 30px;
    border-radius: 20px 20px 0 0;
    margin: auto;
}


.info {
    background-color: rgba(147, 112, 216, 0.5);
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 15px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    transition: 0.6s;
}

.info__switch:checked~.info__body {
    max-height: 150px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 4px;
    border: 7px solid white;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked~.info__headline::before {
    transform: rotate(-180deg) translateY(6px);
    transition: 0.4s;
}


.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* картинка */

.img_css {
    display: block;
    position: relative;
    display: none;
    width: 100px;
    height: 100px;
    animation: rotate 10s linear infinite;
}

.img_css::before {
    content: '';
    display: block;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(blueviolet, cornflowerblue);
}

.img_css::after {
    content: '';
    display: block;
    right: 15px;
    bottom: 15px;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: linear-gradient(red, yellow, green);
}

/* Стрелка (картинка )

.arrow {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px auto;
}

.arrow div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: white;
    left: 0;
    display: block;
}

.arrow div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: white;
    transform: rotate(-45deg);
}


.arrow div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: white;
    transform: rotate(45deg);
} */



/* выпадающий текст по заданию  */

/* details {
    background-color: rgba(147, 112, 216, 0.5);
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 15px;
}

summary {
    right: 20px;
    overflow: hidden;
    transition: 0.4s;
} */

/* выпадающий текст */